@media (min-width: 1200px) {
    .video-js {
        width: 100%;
        height: 320px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .video-js {
        width: 100%;
        height: 320px;
    }
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    nav ul li {
        text-align: center;
        margin: 9px 5px 0 5px;
        float: left;
    }
    #find {
        border: 1px solid #ddd;
        padding: 4px 8px;
        width: 260px;
    }


}

@media (min-width: 768px) and (max-width: 991px) {
    .video-js {
        width: 100%;
        height: 300px;
    }
    #find {
        border: 1px solid #ddd;
        padding: 4px 8px;
        width: 210px;
    }
    nav ul li {
        text-align: center;
        margin: 9px 0px 8px 0px;
        float: left;
    }
    .navbar-brand > img {
        width: 170px;
    }
}



@media (min-width: 200px) and (max-width: 767px) {
    .control-time {
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
    .video-js {
        width: 100%;
        height: 240px;
    }
}


@media (min-width: 768px) {
    .modal-sm {
        width: 300px;
    }
}