<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Creativechain</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/dashboard.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/creativechain.css" rel="stylesheet">

    <link rel="stylesheet" href="assets/tags/bootstrap-tagsinput.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>

<body id="body" onscroll="detectScrollBottom(this)" class="page-profile edit-profile" style="overflow: auto">

<!--<div class="box-alert" >
    <div class="alert">
        <ul class="list-inline list-unstyled">
            <li><img src="./assets/img/logo-slide.png" alt="" style=""></li>
            <li>
                <p translate="yes">Wallet Crea</p>
                <p translate="yes">Received 0,053 CREA at your wallet</p>
            </li>
            <li><img src="./assets/img/wallet-alert.png" alt=""></li>
        </ul>
    </div>
    <div class="rombo"></div>
</div>-->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div w3-include-html="./elements/views/navbar-top.html"></div>
</nav>

<div class="box-filter">
    <div id="ui-main-filter" class="container-fluid hidden">
        <div class="row">
            <div id="blockchain-sync" class="col-md-12 loading-blockchain">
                <p><img src="./assets/img/crea-loading-blocks.gif" alt=""><span id="block-loading-message" translate="yes">LoadingBlockchain</span></p>
            </div>
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3 col-xs-10">
                <ul class="list-unstyled list-inline text-center submenu">
                    <li><a id="ui-main-filter-discover" href="" onclick="return showLatestMedia()" class="active" translate="yes">Discover</a></li>
                    <li><a id="ui-main-filter-following" href="" onclick="return showFollowingMedia()" style="margin: 0 30px;" translate="yes">Following</a></li>
                </ul>
            </div>
        </div>
    </div  >
    <div id="ui-wallet-filter" class="container-fluid hidden">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 col-xs-10">
                <ul class="list-unstyled list-inline text-center submenu">
                    <li><a id="ui-wallet-filter-overview" href="" onclick="return showWalletView('#ui-wallet-filter-overview')" class="active" translate="yes">Overview</a></li>
                    <li><a id="ui-wallet-filter-send" href="" onclick="return showWalletView('#ui-wallet-filter-send', 'send')" translate="yes">Send</a></li>
                    <li><a id="ui-wallet-filter-receive" href="" onclick="return showWalletView('#ui-wallet-filter-receive', 'receive')" translate="yes">Receive</a></li>
                    <li><a id="ui-wallet-filter-transactions" href="" onclick="return showWalletView('#ui-wallet-filter-transactions', 'transactions')" translate="yes">Transactions</a></li>
                    <li><a id="ui-wallet-filter-addressbook" href="" onclick="return showWalletView('#ui-wallet-filter-addressbook', 'addressbook')" translate="yes">AddressBook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="ui-profile-filter" class="container-fluid hidden">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3 col-xs-10">
                <ul class="list-unstyled list-inline text-center submenu">
                    <li><a id="ui-profile-filter-projects" href="" onclick="return showProfileView()" translate="yes">Projects</a></li>
                    <li><a id="ui-profile-filter-followers" href="" onclick="return showProfileView('#ui-profile-followers', '#ui-profile-filter-followers')" translate="yes">Followers</a></li>
                    <li><a id="ui-profile-filter-followings" href="" onclick="return showProfileView('#ui-profile-followings', '#ui-profile-filter-followings')" translate="yes">Following</a></li>
                    <li><a id="ui-profile-filter-notifications" href="" onclick="return showNotificationsView()" translate="yes">Notifications</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="ui-body" class="container-fluid content-primary">

    <div class="row">

        <div id="main-content" class="col-sm-12 col-md-9 col-lg-10">
            <div id="ui-posts"  class="row placeholders hidden" >
                <!-- Home publications -->
                <div id="ui-posts-list">
                    <template v-for="m in publications" w3-include-html="./elements/items/content-item.html">

                    </template>
                </div>
            </div>

            <div id="ui-wallet" w3-include-html="./elements/views/ui-wallet.html" class="tab-content hidden" >
                <!-- Wallet View -->
            </div>

            <div id="ui-settings" w3-include-html="./elements/views/ui-settings.html" class="row placeholders hidden">
                <!-- Settings View -->
            </div>

        </div>

        <div id="profile-sidebar" class="hidden" >
            <div id="ui-profile" w3-include-html="./elements/views/ui-profile.html" class="col-sm-4 col-md-3 sidebar">

            </div>

            <div id="ui-profile-posts" class="col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-3 hidden" >
                <div id="user-posts" class="row placeholders">
                    <template v-for="m in userPosts" w3-include-html="./elements/items/user-content-item.html">

                    </template>
                </div>
            </div>

            <div id="ui-profile-followers" class="col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-3 hidden">
                <div class="row placeholders">
                    <div class="col-md-12">
                        <p translate="yes">Followers</p>
                    </div>
                    <div class="col-md-12">
                        <span v-if="followers.length === 0" id="ui-no-followers" translate="yes">NoFollowers</span>
                        <div v-else id="profile-followers-list" class="card" style="padding: 10px 20px 20px 20px;">
                            <template v-for="f in followers" w3-include-html="./elements/items/user-follower-item.html">

                            </template>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ui-profile-followings" class="col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-3 hidden">
                <div class="row placeholders">
                    <div class="col-md-12">
                        <p translate="yes">Following</p>
                    </div>
                    <div class="col-md-12">
                        <span v-if="followings.length === 0" id="ui-no-followings" translate="yes">NoFollowers</span>
                        <div v-else id="profile-followings-list" class="card" style="padding: 10px 20px 20px 20px;">
                            <template v-for="f in followings" w3-include-html="./elements/items/user-following-item.html">

                            </template>
                        </div>
                    </div>
                </div>
            </div>

            <div id="ui-user-notifications" class="col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-3 hidden">
                <div class="row placeholders">
                    <div class="col-md-12">
                        <p translate="yes">Notifications</p>
                    </div>
                    <div class="col-md-12">
                        <div id="notifications-list" class="card" style="padding: 10px 20px 20px 20px;">
                            <span v-if="notifications.length === 0" translate="yes">NoNotifications</span>
                            <div v-else>
                                <template v-for="n in notifications" w3-include-html="./elements/items/notification-item.html">

                                </template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div id="ui-profile-edit" w3-include-html="./elements/views/ui-profile-edit.html" class="col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-3 hidden" >

            </div>

        </div>

        <div id="ui-following-container" class="col-sm-3 col-md-3 col-lg-2 sidebar hidden-sm hidden-xs boxFollowing">
            <p translate="yes">Following</p>

            <span id="ui-no-follow" class="hidden" translate="yes">NoFollowAnyone</span>
            <table id="following-list" class="table-following-right">

                <template v-for="f in follows" w3-include-html="./elements/items/following-item.html">

                </template>
            </table>
        </div>
    </div>
</div>


<div id="publication-items" class="hidden" ></div>
<div id="follows-items" class="hidden"></div>
<div id="comment-items" class="hidden"></div>
<div id="profile-followers" class="hidden"></div>
<div id="profile-followings" class="hidden"></div>
<div id="notification-items" class="hidden"></div>
<div w3-include-html="./elements/modals/modal-publish.html"></div>
<div w3-include-html="./elements/modals/modal-article.html"></div>
<div w3-include-html="./elements/modals/dialog.html"></div>
<div w3-include-html="./elements/modals/dialog-password.html"></div>
<div w3-include-html="./elements/modals/modal-about.html"></div>
<div id="loading" class="hidden">
    <div class="loading"></div>
    <p id="loading-text" class="hidden"></p>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script language="javascript" src="assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery-3.2.1.min.js"><\/script>')</script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/vue.js"></script>
<!--<script src="assets/js/vue.js"></script>-->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>

<script language="javascript" src="lib/resources.js" type="text/javascript"></script>
<script language="javascript" src="lib/tags.js" type="text/javascript"></script>
<script language="javascript" src="lib/extra.js" type="text/javascript"></script>
<script language="javascript" src="lib/init.js" type="text/javascript"></script>
<script language="javascript" src="lib/translation.js" type="text/javascript"></script>
<script language="javascript" src="lib/top-menu.js" type="text/javascript"></script>
<script language="javascript" src="lib/notifications.js" type="text/javascript"></script>
<script language="javascript" src="lib/publication.js" type="text/javascript"></script>
<script language="javascript" src="lib/platform.js" type="text/javascript"></script>
<script language="javascript" src="lib/wallet.js" type="text/javascript"></script>
<script language="javascript" src="lib/profile.js" type="text/javascript"></script>
<script language="javascript" src="lib/settings.js" type="text/javascript"></script>
<script language="javascript" src="lib/navigation.js" type="text/javascript"></script>
<script language="javascript" src="lib/common.js" type="text/javascript"></script>
<script src="assets/js/w3.js"></script>


<script>
    w3.includeHTML(function () {
        translate();
        prepareDragDrop();
        tagsInit();
        //startTrantor();
    });
</script>

</body>
</html>
