<div class="container-fluid draggable" style="padding-top: 9px;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav search">
            <li class="logo-right-navbar undraggable">
                <a href="" onclick="return showMedia()"><img src="./assets/img/icon-crea-price.png" alt="" class="logo-navbar-responsive" style="width: 32px;"></a>
            </li>
            <li><img onclick="backSearch()" class="undraggable cursor" src="./assets/img/icon-left.png" alt=""></li>
            <li><img onclick="nextSearch()" class="undraggable cursor" src="./assets/img/icon-right.png" alt=""></li>
            <li>
                <div id="content-search-form" class="navbar-form navbar-right form-search-navbar dropdown-toggle"
                     data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <input id="content-search" name="search" type="text" onkeyup="return onSearchKey(event)" class="form-control input-search undraggable mousetrap" placeholder="SearchTagOrUser" translate="yes">

                </div>
                <ul id="user-search-list" class="dropdown-menu menu-options hidden" v-show="authors.length > 0"
                    style="left: 0">
                    <template v-for="user in authors" w3-include-html="./elements/items/user-search-item.html">

                    </template>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="" style="margin-top: 3px;">
                <a href="#">
                    <button type="button" class="btn btn-primary btn-publish undraggable" style="-webkit-app-region: no-drag" translate="yes" data-toggle="modal" data-target=".modal-publish">
                        Publish
                    </button>
                </a>
            </li>
            <li id="ui-top-notifications" v-on:click="showUserNotifications()" class="undraggable" style="height: 40px;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <img src="./assets/img/icon-notification-navbar.png" alt="">
                </a>
                <div v-show="total > 0" id="badge-notifications" class="circle-notification text-center">
                    <span id="notifications-num">{{ total }}</span>
                </div>
                <ul v-show="total > 0" id="notif-top-list" class="dropdown-menu notifications">
                    <template v-for="n in notifications" w3-include-html="./elements/items/top-notification-item.html">

                    </template>
                    <li class="view-all cursor" onclick="return showUserNotifications()">
                        <div class="view-all-notification text-center">
                            <p><a href="" translate="yes">{{ lang.ViewAll }}</a></p>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a class="undraggable" onclick="return showProfile()" href="#" role="button" aria-haspopup="true" aria-expanded="false">

                    <div class="">
                        <div class="row-list-edit-avatare" style="display: flex;">
                            <div id="user-top-avatar"
                                 class="image-profile-navbar-top img-circle cursor avatare-1">
                            </div>
                            <span id="user-top-name" class="nameUser" translate="yes" style="margin-top: 8px;">Anonymous</span>
                        </div>
                    </div>

<!--
                    <img id="user-top-avatar" class="img-circle image-profile-navbar-top" src="./assets/img/avatar/avatar1.png" alt="">
-->

<!--
                    <span id="user-top-name" class="nameUser" translate="yes">Anonymous</span>
-->
                </a>
            </li>
            <li class="amount-navbar undraggable cursor"><a href="" onclick="return showWalletView()"><p id="top-balance">0.00000000 CREA</p></a></li>
            <li class="icon-total-wallet undraggable cursor">
                <a onclick="return showWalletView()" id="top-balance-tooltip" data-toggle="tooltip" title="0.00000000 CREA">
                    <img src="./assets/img/wallet-alert.png" alt="" style="margin-top: 7px;">
                </a>
            </li>

            <li class="undraggable" style="height: 40px;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <i class="glyphicon glyphicon-option-vertical button-menu" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu menu-options">
                    <li><a href="#" onclick="return showSettingsView()" translate="yes">Settings</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" onclick="return showUpdateUser()" translate="yes">CREA Updates</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" onclick="return showWalletBackupModal()" translate="yes">Wallet Backup</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" onclick="return openUrlInBrowser('https://creativechain.org/help')" translate="yes">Help</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" onclick="return showAboutModal()" translate="yes">About</a></li>

                </ul>
            </li>
        </ul>

    </div>
</div>
<div id="notification-top-loader" class="hidden">

</div>

