body {
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
.table>tbody>tr>td>p {
    margin: 0;
}

#dialog {
    display:none;
    position:absolute;
    left:25%;
    top:25%;
    z-index:1000;
    width:10%;
    height:10%;
    min-height:10%;
    background:#000;
    opacity:0.8;
    text-align:center;
    color:#fff;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #DFDFDF;
}
.alert {
    background-color: white;
    position: absolute;
    z-index: 10000;
    right: 20px;
    top:30px;
    -webkit-box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
}
.rombo {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    background: white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 16px;
    position: absolute;
    z-index: 9999;
    webkit-box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 8px -4px rgba(0,0,0,0.75);
    top: 50px;
}
.box-alert > .alert > ul > li:nth-child(1) img{
    width: 60px;
    margin-top: -28px;
}
.box-alert > .alert > ul > li:nth-child(2) > p:nth-child(2) {
    font-size: 12px;
    color: #A5A5A5;
}
.box-alert > .alert > ul > li:nth-child(2) {
    display: inline-block;
    margin-right: 40px;
}
.box-alert > .alert > ul > li:nth-child(3) img {
    width: 40px;
    margin-top: -28px;
}
.btn-primary {
    color: #fff;
    background-color: #0569ef;
    border-color: #0569ef;
}
.btn-secondary {
    color: #3B3B3C;
    background-color: #FFD952;
    border-color: #FFD952;
}
.btn-therciary {
    color: #3B3B3C;
    background-color: transparent;
    border-color: #3B3B3C !important;
}
.btn {
    padding: 2px 30px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 20px;
}
/* box filter */
.box-filter {
    background-color: #f9f9f9;
    height: 55px;
    padding-top: 17px;
    border-bottom: 1px solid #d5d6d7;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.box-filter a {
    color: #d5d6d7;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
a:focus, a:hover {
    color: #3b3b3c;
    text-decoration: none;
}
/* Navbar */
#navbar > ul.search > li:nth-child(1) img {
    width: 10px;
    margin-top: 20px;
    margin-right: 10px;
}
#navbar > ul.search > li:nth-child(2) img {
    width: 10px;
    margin-top: 20px;
}
.li-icon-row {
    padding: 17px 0 0;
}
.form-search-navbar {
    margin-top: 10px;
}
.input-search {
    padding: 2px 30px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 20px;
    height: 24px;
}
.circle-notification {
    background-color: #0052dd;
    border-radius: 10px;
    width: 20px;
    color: white;
    position: absolute;
    right: 8px;
    bottom: 0;
}
.circle-notification span {
    font-size: 10px;
    position: relative;
    left: 4px;
    bottom: 1px;
}
.padding10 {
    padding-top: 10px;
}
.amount-navbar {
    padding: 17px 24px 0;
    font-size: 15px;
    color: white;
}
.logo-right-navbar {
    padding: 7px 0 0;
}
/* Menu */
ul.notifications {
    min-width: 400px;
}
ul.notifications .list-notifications {
    display: flex;
}
ul.notifications .list-notifications > .notification-profile img {
    width: 40px;margin: 0 10px;
}
ul.notifications .list-notifications > .description-notification {
    width: 100%;
}
ul.notifications .list-notifications > .description-notification p:nth-child(1){
    margin-bottom: 0;
}
ul.notifications .list-notifications > .description-notification p:nth-child(1) > span {
    margin-bottom: 0;font-size: 10px;margin-left: 20px;color: #a5a5a5
}
ul.notifications .list-notifications > .description-notification p:nth-child(2){
    color: #a5a5a5; font-size: 10px;margin-bottom: 0;
}
ul.notifications .list-notifications > .thumbnail-notification > img {
    width: 60px;margin: 0 10px;
}
.navBar-left  a img {
    opacity: 0.3;
}
.navBar-left li.active-li {
    border-left: solid 5px #0052dd;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: transparent;
}
.navBar-left .active-a {
    color: #3b3b3b;
}
.sidebar {
    background-color: #efefef;
    top: 105px;
}
a {
    color: #d5d6d7;
    text-decoration: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 5px 15px;
}
/* BOX */
.state-video {
    background-color: #FFD952;
}
.state-doc {
    background-color: #D5D6D7;
}
.state-picture {
    background-color: #ff5766;
}
.state-audio {
    background-color: #0073ff;
}
.state-book {
    background-color: #26d87d;
}
.single-news:hover article {
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
    transition: all .4s ease;
}
.single-news {
    border: solid 1px #e6e6e6;
    border-radius: 4px;
}
.single-news article {
    background-color: white;
    border-radius: 4px;
    transition: all .4s ease;
}
.one-item article {
    margin: 0;
}
article {
    display: block;
}
.single-news article img {
    max-width: 100%;
    display: block;
    border-radius: 4px 4px 0 0;
}
.single-news article .content {
    padding: 5px 10px;
    position: relative;
    background-color: #f9f9f9;
}
.placeholders {
    text-align: left;
    margin-top: 20px;
}
.content-primary {
    margin-top: 58px;
}
.boxContent .titleBox {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.boxContent .titleBox span{
    font-size: 12px;font-weight: bold
}
.boxContent .descriptionContent {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 33px;
    margin: 20px auto 10px;
    font-size: 12px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.boxContent .descriptionContent p{
    color: #d5d6d7;
}
.boxOptions .boxLike {
    padding-left: 6px;padding-right: 2px;
}
.boxOptions .p-box-options {
    display: flex;
    display: inline-flex;
}
.boxOptions .span-box-content {
    font-size: 10px;
    margin-top: 7px;
    margin-left: -3px;
}
.boxOptions .boxComments {
    padding-left: 6px;padding-right: 2px;
}
.boxOptions .boxSmartActions {
    padding-left: 6px;padding-right: 2px;
}
.boxOptions .boxLicence {
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}
.boxContent hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
}
.boxContent .boxOwner {
    margin-top: 6px;
    padding-left: 10px;
}
.boxOwner .icon-owner {
    padding-left: 0;
    padding-right: 0;
}
.boxOwner .avatare-owner {
    margin-top: 2px;
}
.boxOwner .box-title-owner {
    padding-left: 2px;
    padding-right: 2px;
}
.boxOwner .box-title-owner p {
    font-size: 10px;
    margin-top: 10px;
    color: #3b3b3c;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.boxOwner .box-level-owner {
    padding-left: 1px;
    padding-right: 8px;
    margin-top: 10px;
}

/* FOLLOWING */

.boxFollowing {
    right: 0;
    left: initial;
    padding-left: 0;
}
.boxFollowing > p {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.boxFollowing .followingList {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.boxFollowing .icon-following {
    padding-left: 2px;padding-right: 2px;
}
.boxFollowing .followingList .BoxFollowingDescription {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    border-bottom: 1px solid #d5d6d7;
}
.boxFollowing .followingList .titleFollowing {
    font-size: 14px;
    margin-bottom: 0;
}
.boxFollowing .followingList .descriptionFollowing {
    font-size: 12px;
    color: #d5d6d7;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

/* MODAL ARTICLES */
.modal-article .box-img {
    padding: 0 0 0 15px;
}
.modal-article .box-img > img {
    padding: 10px;
    background-color: white;
}
.modal-article .box-comment-right {
    padding: 0 15px 0 0;
}
.modal-article section {
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 20px 15px;
}
.modal-content {
    background-color: #f9f9f9;
}
.modal-article .titleAutor {
    margin-bottom: 0;
    font-size: 15px;
}
.modal-article h5 {
    margin-top: 0;
}
.modal-article ul li p {
    margin-bottom: 0;
    margin-top: 5px;
}
.modal-article span {
    font-size: 12px;
    color: #a5a5a5;
}
.modal-article p.titleSecundary {
    font-size: 12px;
    color: #333333;
}
.modal-article section.stats {
    border-bottom: transparent;
}
.modal-article section.stats img {
    width: 15px;
}
.modal-article section.stats p.titleSponsor {
    font-weight: 600;
    color: #0569ef;
    margin-top: 20px;
    margin-left: 20px;
}
.modal-article section.stats p.titleDonation {
    font-weight: 600;
    color: #0569ef;
    margin-left: 20px;
    margin-bottom: 20px;
}
.modal-article section.stats button {
    width: 100%;
}
.modal-article .box-comment {
    padding: 10px 30px;
    background-color: white;
    border: solid 1px #dfdfdf;
    border-radius: 5px;
    margin: 50px 0;
}
.notifications .divider {
    height: 1px;
    margin: 0 0 9px;
    overflow: hidden;
    background-color: #e5e5e5;
}
/* PAGE WALLET */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}
.page-wallet .card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.page-wallet .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.page-wallet .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.page-wallet .card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}
.page-wallet .card-title {
    margin-bottom: .75rem;
}
.page-wallet .tableRecentTransaccions img {
    width: 23px;
    margin-top: 5px;
}
.page-wallet .tableDetails p:nth-child(1) {
    margin-bottom: 0;
}
.page-wallet .tableDetails p:nth-child(2) {
    font-size: 10px;
    margin-bottom: 0;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.page-wallet .tableDetailsAmount p {
    margin: 7px 0 0;
}
.page-wallet .card {
    margin-bottom: 30px;
}
.page-wallet .title p {
    margin-top: 35px;
}
.page-wallet #send .options-address {
    position: absolute;
    top: 30px;
    right: 20px;
}
.page-wallet #send .options-address img{
    margin-right: 20px;
    cursor: pointer;
}
.page-wallet #send .comission {
    border-top: 1px solid #D5D6D7;
    border-bottom: 1px solid #D5D6D7;
    padding: 10px;
    margin: 20px 0;
}
.page-wallet #send .comission p {
    margin-top: 13px;
}
.page-wallet #send .comission .form-group {
    margin-top: 5px;
    margin-bottom: 0;
}
.page-wallet #send .titleAmount {
    color: #1d74ff;
}
.page-wallet #send .totalAmount {
    font-size: 22px;
    color: #333;
}
.page-wallet #send .decimals {
    font-size: 13px;
    color: #333;
}

.page-profile .profile .img-profile {
    margin:20px 0;
}
.page-profile .profile .name {
    font-weight: bold;
    margin-bottom: 0;
}
.page-profile .profile .name-web {
    color: #A5A5A5;
    font-size: 12px;
}
.page-profile .profile .descriptionProfile {
    font-size: 12px;
    color: #A5A5A5;
}
.page-profile .stats-profile ul.list-inline {
    margin-left: 0;
}
.page-profile .table-stats-profile-1 thead {
    display: none;
}
.page-profile .stats-profile .table-stats-profile-1 td > img {
    width: 20px;
    margin-right: 5px;
}
.page-profile .stats-profile ul > li {
    padding: 0;
}
.page-profile .stats-profile ul > li > span {
    font-size: 12px;
    color: #A5A5A5;
}
.page-profile .table-stats-profile thead {
    display: none;
}
.page-profile .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid transparent;
    color: #A5A5A5;
    text-transform: uppercase;
    font-size: 12px;
}
.page-profile .title-profile h3{
    font-size: 12px;
    color: #A5A5A5;
    font-weight: bold;
    text-transform: uppercase;
}
.page-profile .title-profile p {
    font-size: 12px;
    color: #A5A5A5;
}

.edit-profile .card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 20px;
}
.edit-profile .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.edit-profile .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.edit-profile .card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}
.edit-profile .bootstrap-tagsinput {
    display: block;
    height: 34px;
}
.edit-profile .label-info {
    background-color: #0073ff;
}
.edit-profile .label {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 100;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    font-size: 12px;
}
.edit-profile .change-imatge {
    margin-top: 20px;
}
.edit-profile .change-imatge p.name {
    font-weight: bold;
    margin-bottom: 0;
}
.edit-profile .change-imatge p.change-text {
    color: #A5A5A5;
    font-size: 12px;
}
.edit-profile .send-edit-profile {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* MODAL PUBLISH */
.modal-publish .row-img-profile p {
    color: #A5A5A5;
}
.modal-publish .upload-file {
    margin: 20px;
    border: solid 1px #95989A;
    padding: 40px 0 30px;
    color: #95989A;
}
.modal-publish span.icon-plus {
    font-size: 30px;
    position: relative;
    top: 5px;
}
.modal-publish .upload-file > ul {
    margin-bottom: 0;
}
.modal-publish .upload-file p.maxim-size {
    font-size: 10px;
    margin-top: 10px;
}
.modal-publish .upload-file .close {
    position: absolute;
    top: 26px;
    right: 45px;
}
.modal-publish .form-options {
    padding: 20px;
}
.modal-publish .form-options .button-upload {
    margin-top: 28px;
}
.modal-publish .form-options .title-extension {
    position: absolute;
    top: 32px;
    right: 30px;
    color: #95989A;
}
.modal-publish .form-options .money-crea {
    margin-top: 30px;
}
.modal-publish .form-options .table-license img {
    width: 21px;
}
.modal-publish .form-options .table-license thead p {
    font-size: 7px;
}
.modal-publish .form-options .table-license>tbody>tr>td, .table-license>tbody>tr>th, .table-license>tfoot>tr>td, .table-license>tfoot>tr>th, .table-license>thead>tr>td, .table-license>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid transparent;
    color: #A5A5A5;
    text-transform: none;
    font-size: 12px;
}
.modal-publish .form-options .table-license p.text-only {
    color: #FFD952;
}
.modal-publish .form-options .table-license p.text-no {
    color: #FF6C79;
}
.modal-publish .form-options .table-license p.text-yes {
    color: #26EC7B;
}
.modal-publish .form-options .table-license p {
    font-size: 10px;
}
.modal-publish .public-project > button {
    margin-bottom: 40px;
}
.modal-publish .public-project>h4 {
    margin: 40px;
}
.modal-publish .publish-title {
    margin: 20px 30px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    border-radius: .25rem;
}
/* FIN MODAL PUBLISH */

.input-group {
    margin-bottom: 15px;
}



/* SLIDE */

.slide-background-1 {
    z-index: 10;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    background-image: url("../img/background-slide.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.carousel-inner img {
    margin-top: 30px;
}
.carousel-inner h1 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 55px;
}
.carousel .item {
    height: 650px;
    background-color: #FAFAFA;
}
.carousel {
    height: 650px;
    margin-bottom: 0;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.9) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.page-slide {
    padding-bottom: 0;
}
.carousel-caption {
    top: 370px;
}
.carousel-description {
    text-shadow: 0 1px 2px transparent;
}
.carousel-description p:nth-child(1) {
    color: #3C3C3B;
    font-size: 26px;
}
.carousel-description p:nth-child(2) {
    color: #95989A;
    font-size: 17px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #BCBCBC;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #bcbcbc;
    border-radius: 10px;
}
.step-4 .step-4-category > .col-md-3 > img {
    margin-top: 0;
    width: 30px;
}
.step-4 .step-4-category > .col-md-3 p {
    font-size: 12px;
}
p.step-4-address-wallet {
    font-size: 16px;
    color: #0569EF;
}
/* MODAL EXPIRE */
.modal-session-expired > .modal-dialog > .modal-content {
    padding: 30px;
}
.modal-session-expired .row-title > p {
    margin: 30px 0;color: #95989A
}
.modal-session-expired .row-button-modal-expire {
    margin: 10px 70px;
}




@media only screen and (max-width: 1000px) {
    .amount-navbar {
        display: none !important;
    }
    .modal-dialog {
        width: 700px;
        margin: 30px auto;
    }
    .box-comment img {
        margin: 10px 0;
    }
    .modal-publish .upload-file .close {
        position: absolute;
        top: 6px;
        right: 45px;
    }
    .logo-right-navbar {
        padding: 9px 0;
    }
    .box-filter {
        background-color: #f9f9f9;
        height: 55px;
        padding-top: 25px;
        border-bottom: 1px solid #d5d6d7;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
    .view-box {
        margin-top: -5px;
    }
}
@media only screen and (min-width: 1001px) {
    .icon-total-wallet {
        display: none !important;
    }
}
