body {
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #3B3B3C;
}
.strong {
    font-weight: bold;
}
.submenu a.active {
    outline: 0;
    color: #222222 !important;
}
.container-fluid {
    padding-right: 30px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
}
.loading-blockchain {
    position: absolute;
    top: 8px;
    font-size: 12px;
    color: #808080;
}
.grey-text {
    color: #808080;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    color: #808080;
}
.table.tooltipStats>tbody>tr>td, .table.tooltipStats>tbody>tr>th, .table.tooltipStats>tfoot>tr>td, .table.tooltipStats>tfoot>tr>th, .table.tooltipStats>thead>tr>td, .table.tooltipStats>thead>tr>th {
    vertical-align: middle;
    color: #808080;
    text-align: center;
}
.table>tbody>tr>td>p {
    margin: 0;
}
.cursor {
    cursor: pointer;
}
.dropdown-menu {
    z-index: 1001;
}
.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loading.gif) center no-repeat rgba(255, 255, 255, 0.75);
}
#loading-text {
    position: fixed;
    top:60%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    font-size: 22px;
    color: #3B3B3C;
    text-align: center;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #DFDFDF;
}
.alert {
    background-color: white;
    position: absolute;
    z-index: 10000;
    right: 20px;
    top:30px;
    -webkit-box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
}
.rombo {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    background: white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 16px;
    position: absolute;
    z-index: 9999;
    webkit-box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
    box-shadow: 4px 0px 8px -4px rgba(0,0,0,0.75);
    top: 50px;
}
.box-alert > .alert > ul > li:nth-child(1) img{
    width: 60px;
    margin-top: -28px;
}
.box-alert > .alert > ul > li:nth-child(2) > p:nth-child(2) {
    font-size: 12px;
    color: #808080;
}
.box-alert > .alert > ul > li:nth-child(2) {
    display: inline-block;
    margin-right: 40px;
}
.box-alert > .alert > ul > li:nth-child(3) img {
    width: 40px;
    margin-top: -28px;
}
.btn-primary {
    color: #fff;
    background-color: #0569ef;
    border-color: #0569ef;
}
.btn-secondary {
    color: #3B3B3C;
    background-color: #FFD952;
    border-color: #FFD952;
}
.btn-therciary {
    color: #3B3B3C;
    background-color: transparent;
    border-color: #3B3B3C !important;
}
.btn-primary-inverse {
    color: #fff !important;
    background-color: #ff5766;
    border-color: #ff5766;
}
.btn {
    padding: 2px 30px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 20px;
}
/* box filter */
.box-filter {
    background-color: #f9f9f9;
    height: 55px;
    padding-top: 17px;
    border-bottom: 1px solid #dfdfdf;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-top: 0;
}

.box-filter a {
    color: #959595;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
a:focus, a:hover {
    color: #959595;
    text-decoration: none;
}
/* Navbar */
.menu-options li > a  {
    font-size: 12px;
    color: #959595;
}
.button-menu {
    font-size: 19px;
    top:7px;
}
#navbar > ul.search > li:nth-child(2) img {
    width: 10px;
    margin-top: 8px;
    margin-right: 10px;
    margin-left: 30px;
}
#navbar > ul.search > li:nth-child(3) img {
    width: 10px;
    margin-top: 8px;
}
.nav>li>a>img {
    margin-bottom: 5px;
}
.li-icon-row {
    padding: 17px 0 0;
}
.form-search-navbar {
    margin-top: 4px;
}
.input-search {
    padding: 2px 30px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 20px;
    height: 24px;
}
.circle-notification {
    background-color: #0052dd;
    border-radius: 10px;
    width: 20px;
    color: white;
    position: absolute;
    right: 8px;
    bottom: 6px;
    top: 15px;
}
.circle-notification span {
    font-size: 10px;
    position: relative;
    top: -2px;
}
.padding10 {
    padding-top: 10px;
}
.amount-navbar {
    padding: 8px 0 0;
    font-size: 14px;
    color: white;
}
.button-help-navbar {
    padding: 8px 0 0;
    font-size: 14px;
    color: white;
}
.separator-view-all {
    margin: 0 0 3px !important;
}
.view-all {
    font-size: 10px;
    margin: 10px;
}
.view-all-notification > p {
    margin: 0;
}

/* Menu */
ul.notifications {
    min-width: 400px;
    padding: 20px 10px 0px;
}
ul.notifications .list-notifications {
    display: flex;
}
ul.notifications .list-notifications > .notification-profile img {
    width: 40px;margin: 0 10px;
}
ul.notifications .list-notifications > .description-notification {
    width: 100%;
}
ul.notifications .list-notifications > .description-notification p:nth-child(1){
    margin-bottom: 0;
}
ul.notifications .list-notifications > .description-notification p:nth-child(1) > span {
    margin-bottom: 0;font-size: 10px;margin-left: 20px;color: #808080
}
ul.notifications .list-notifications > .description-notification p:nth-child(2){
    color: #808080; font-size: 10px;margin-bottom: 0;
}
ul.notifications .list-notifications > .thumbnail-notification > img {
    width: 60px;margin: 0 10px;
}
.navBar-left  a img {
    opacity: 0.3;
}
.navBar-left li.active-li {
    border-left: solid 5px #0052dd;
    border-bottom: solid 1px #808080;
}
.navBar-left li {
    border-bottom: solid 1px #808080;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #808080;
    background-color: transparent;
}
.navBar-left .active-a {
    color: #3B3B3C;
}
.btn-publish {
    font-size: 14px;
}
.sidebar {
    background-color: #efefef;
    top: 115px;
}
.nameUser {
    margin: 0 8px;
}
a {
    color: #959595;
    text-decoration: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0 15px;
}

.action-windows {
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 7px;
}
.navbar-close {
    background-image: url("./../img/nav/close.png");
    height: 13px;
    width: 13px;
    background-size: cover;
}
.navbar-close:hover {
    background-image: url("./../img/nav/close-ac.png");
    height: 13px;
    width: 13px;
    background-size: cover;
}
.navbar-miminizar {
    background-image: url("./../img/nav/miminizar.png");
    height: 13px;
    width: 13px;
    background-size: cover;
}
.navbar-miminizar:hover {
    background-image: url("./../img/nav/miminiar-ac.png");
    height: 13px;
    width: 13px;
    background-size: cover;
}
.navbar-maximizar {
    background-image: url("./../img/nav/maximizar.png");
    height: 13px;
    width: 13px;
    background-size: cover;
}
.navbar-maximizar:hover {
    background-image: url("./../img/nav/maximizar-ac.png");
    height: 13px;
    width: 13px;
    background-size: cover;
}
/* BOX */
.img-post-preview {
    background-image: url("./../img/background-slide-1.png");
}
.img-post-preview.size-img-preview {
    background-position: center center;
    height: 135px;
    background-size: cover;
}


.content-img {
    width: 100%;
    height: 126px;
    overflow: hidden;
    text-align: center;
}
.content-img > img {
    margin: 0 auto;
}
.state-video {
    background-color: #FFD952;
}
.state-doc {
    background-color: #808080;
}
.state-picture {
    background-color: #ff5766;
}
.state-audio {
    background-color: #0073ff;
}
.state-book {
    background-color: #26d87d;
}
.single-news:hover article {
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
    transition: all .4s ease;
}
.single-news {
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    height: 302px;
}
.single-news article {
    background-color: white;
    border-radius: 4px;
    transition: all .4s ease;
}
.one-item article {
    margin: 0;
}
article {
    display: block;
}
.single-news article img {
    max-width: 100%;
    display: block;
    border-radius: 4px 4px 0 0;
}
.single-news article .content {
    padding: 5px 10px;
    position: relative;
    background-color: #f9f9f9;
}
.placeholders {
    text-align: left;
    margin-top: 20px;
}
.content-primary {
    margin-top: 68px;
}
.boxContent .titleBox {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.boxContent .titleBox span{
    font-size: 12px;font-weight: bold
}
.boxContent .descriptionContent {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 33px;
    margin: 20px auto 10px;
    font-size: 12px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
}
.boxContent .descriptionContent p{
    color: #808080;
}
.boxOptions .boxLike {
    padding-left: 6px;padding-right: 2px;
}
.boxOptions .p-box-options {
    display: flex;
    display: inline-flex;
}
.boxOptions .span-box-content {
    font-size: 10px;
    margin-top: 7px;
    margin-left: -3px;
    color: #808080;
}
.boxOptions .boxComments {
    padding-left: 6px;padding-right: 2px;
}
.boxOptions .boxSmartActions {
    padding-left: 6px;padding-right: 2px;
}
.boxOptions .boxLicence {
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}
.boxContent hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #eee;
}
.boxContent .boxOwner {
    margin-top: 6px;
    padding-left: 10px;
}
.boxOwner .icon-owner {
    padding-left: 0;
    padding-right: 0;
}
.boxOwner .icon-owner img {
    border-radius: 50%;
}
.boxOwner .avatare-owner {
    margin-top: 2px;
}
.boxOwner .box-title-owner {
    padding-left: 2px;
    padding-right: 2px;
}
.boxOwner .box-title-owner p {
    font-size: 10px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #808080;
}
.boxOwner .box-level-owner {
    padding-left: 1px;
    padding-right: 8px;
    margin-top: 10px;
}
.box-level-owner > img {
    border-radius: 0 0 0 0 !important;
    margin-top: -3px;
}

/* FOLLOWING */

.boxFollowing {
    right: 0;
    left: initial;
    padding-left: 0;
}
.boxFollowing > p {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.boxFollowing .followingList {
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}
.boxFollowing .followingList > .icon-following-if-menu-left img {
    max-width: 42px;
    max-height: 42px;
}
.boxFollowing .followingList > .icon-following-if-home img {
    /* max-width: 42px; */
    /* max-height: 42px; */
}
.boxFollowing .icon-following {
    padding-left: 2px;padding-right: 2px;
}
.boxFollowing .icon-following-home img {
    width: 45px;height: 45px;
}
.boxFollowing .followingList .BoxFollowingDescription {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    border-bottom: 1px solid #dfdfdf;
    min-height: 52px;
}
table.table-following-right .titleFollowing {
    font-size: 14px;
    margin-bottom: 0;
}
table.table-following-right tr:nth-child(even) {
    border-bottom: 1px solid #dfdfdf;
}
table.table-following-right tr:nth-child(odd) > td:nth-child(2) {
    line-height: 30px;
}
table.table-following-right .descriptionFollowing {
    font-size: 12px;
    color: #959595;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    width: 70%;
}
.img-circle-following {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 7px;
}
.img-circle-following.avatare-1 {
    background: url("./../img/background-slide-1.png") center center;
    background-size: cover;
}
.img-circle-following.avatare-2 {
    background: url("./../img/demo-avatare.jpg") center center;
    background-size: cover;
}
.puntos-suspensivos {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* MODAL ARTICLES */
.your-comment-title-post {
    margin:30px 0 0;
}
.box-alert-post img {
    width: 20px;
    height: 20px;
}
.box-alert-post li {
    display: flex;
    display: inline-flex;
}
.box-alert-post p {
    margin-left: 10px;
    font-size: 12px;
    color: #808080;
    margin-top: 0 !important;
}
.user-comment {
    margin-bottom: 20px;
}
.certificate hr {
    margin-top: 0;
    margin-bottom: 10px;
}
.icon-certificate-post {
    margin-top: 5px;
}
.certificate h4 {
    font-size: 16px;font-weight: lighter;
}
.icon-certificate-post img {
    width: 20px;
}
.certificate .text-licence {
    margin: 0;
    font-size: 12px;
}
.certificate span {
    color: #808080 !important;
}
.modal-article .box-img {
    padding: 0 0 0 15px;
    border-right: solid 1px #DFDFDF;
}
.modal-article .box-img > img {
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.modal-article .box-comment-right {
    padding: 0 15px 0 0;
}
.modal-article section {
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 20px 15px;
}
.modal-content {
    background-color: #f9f9f9;
}
.modal-article .titleAutor {
    margin-bottom: 0;
    font-size: 15px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.modal-article-author {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.article-author-web {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #808080;
}
#article-author-buzz {
    color: #808080;
}
#article-author-level {
    color: #808080;
}
.modal-article h5 {
    margin-top: 0;
}
.modal-article ul li p {
    margin-bottom: 0;
    margin-top: 5px;
}
.modal-article span {
    font-size: 12px;
    color: #808080;
}
.modal-article p.titleSecundary {
    font-size: 12px;
    color: #333333;
}
.modal-article section.stats {
    border-bottom: transparent;
    padding: 0;
}
.modal-article section.stats img {
    width: 15px;
    margin-right: 10px;
}
.modal-article section.stats p.titleSponsor {
    font-weight: 600;
    color: #0569ef;
    margin-top: 20px;
    margin-left: 20px;
}
.modal-article section.stats p.titleDonation {
    font-weight: 600;
    color: #0569ef;
    margin-left: 20px;
}
.modal-article section.stats button {
    width: 100%;
}
.modal-article section.stats li {
    border-bottom: solid 1px #dfdfdf;
    padding: 10px 10px 17px;
}
.modal-article .box-comment {
    padding: 10px 30px;
    background-color: white;
    border: solid 1px #dfdfdf;
    border-radius: 5px;
    margin: 20px 0;
}
.modal-article .img-circle-comment {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 7px;
}
.img-circle-comment.avatare-1 {
    background: url("./../img/background-slide-1.png") center center;
    background-size: cover;
}
.notifications .divider {
    height: 1px;
    margin: 0 0 9px;
    overflow: hidden;
    background-color: #e5e5e5;
}
.modal-article .downloadTitle {
    margin: 0;
}
.modal-article .downloadArticleModal p{
    margin-top: 20px;
}
.modal-article .downloadArticleModal button {
    width: 100%;
}
/* PAGE WALLET */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
}
.page-wallet .card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.page-wallet .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.page-wallet .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.page-wallet .card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}
.page-wallet .card-title {
    margin-bottom: .75rem;
}
.page-wallet .tableRecentTransaccions img {
    width: 23px;
    margin-top: 5px;
    margin-right: 5px;
}
.page-wallet .tableDetails p:nth-child(1) {
    margin-bottom: 0;
}
.page-wallet .tableDetails p:nth-child(2) {
    font-size: 10px;
    margin-bottom: 0;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.page-wallet .tableDetailsAmount p {
    margin: 7px 0 0;
}
.page-wallet .card {
    margin-bottom: 30px;
}
.page-wallet .title p {
    margin-top: 35px;
}
.page-wallet #send .options-address {
    position: absolute;
    top: 30px;
    right: 20px;
}
.page-wallet #send .options-address img{
    margin-right: 20px;
    cursor: pointer;
}
.page-wallet #send .comission {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding: 10px;
    margin: 20px 0;
}
.page-wallet #send .comission p {
    margin-top: 13px;
}
.page-wallet #send .comission .form-group {
    margin-top: 5px;
    margin-bottom: 0;
}
.page-wallet #send .titleAmount {
    color: #1d74ff;
}
.page-wallet #send .totalAmount {
    font-size: 22px;
    color: #333;
}
.page-wallet #send .decimals {
    font-size: 13px;
    color: #333;
}

.page-profile .profile .img-profile {
    margin:20px 0;
}
.img-profile > .img-profile-user {
    margin:20px auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.img-profile {
    margin:20px 0;
}
.page-profile .profile .name {
    font-weight: bold;
    margin-bottom: 5px;
}
.page-profile .profile .name-web {
    color: #808080;
    font-size: 12px;
}
.page-profile .profile .descriptionProfile {
    font-size: 12px;
    color: #808080;
}
.page-profile .stats-profile ul.list-inline {
    margin-left: 0;
}
.page-profile .table-stats-profile-1 thead {
    display: none;
}
.page-profile .stats-profile .table-stats-profile-1 td > img {
    width: 20px;
    margin: 7px 6px;
}
.page-profile .stats-profile ul > li {
    padding: 0;
}
.page-profile .stats-profile ul > li > span {
    font-size: 12px;
    color: #808080;
}
.page-profile .table-stats-profile thead {
    display: none;
}
.page-profile .table-stats-profile-1>tbody>tr>td, .table-stats-profile-1>tbody>tr>th, .table-stats-profile-1>tfoot>tr>td, .table-stats-profile-1>tfoot>tr>th, .table-stats-profile-1>thead>tr>td, .table-stats-profile-1>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    color: #808080;
    text-transform: uppercase;
    font-size: 12px;
}
.page-profile .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid transparent;
    color: #808080;
    text-transform: uppercase;
    font-size: 12px;
}
.page-profile .title-profile h3{
    font-size: 12px;
    color: #808080;
    font-weight: bold;
    text-transform: uppercase;
}
.page-profile .title-profile p {
    font-size: 12px;
    color: #808080;
}

.edit-profile .card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 20px;
}
#user-edit-button {
    width: 100%;
}
.follow-button-profile {
    width: 100%;
}

.edit-profile .card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.edit-profile .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.edit-profile .card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}
.bootstrap-tagsinput > .label-info {
    background-color: #0073ff;
}
.edit-profile .bootstrap-tagsinput {
    display: block;
    height: 34px;
}
.edit-profile .label-info {
    background-color: #0073ff;
}
.edit-profile .label {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 100;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    font-size: 12px;
}
.edit-profile .change-imatge {
    margin-top: 20px;
}
.edit-profile .change-imatge p.name {
    font-weight: bold;
    margin-bottom: 0;
}
.edit-profile .change-imatge p.change-text {
    color: #808080;
    font-size: 12px;
}
.edit-profile .send-edit-profile {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}
.row-list-edit {
    min-height: 0;
    margin: 0 0 30px;
    padding: 0;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}
.row-list-edit > .row-list-edit-avatare {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 1 6 40px;
    flex: 1 6 40px;
    -webkit-order: 1;
    order: 1;
}
.row-list-edit > .row-list-edit-autor {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 3 1 65%;
    flex: 3 1 75%;
    -webkit-order: 2;
    order: 2;
}
.row-list-edit-avatare > .img-circle-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 7px;
}
.img-circle-profile.avatare-1 {
    background: url("./../img/background-slide-1.png") center center;
    background-size: cover;
}


/* MODAL PUBLISH */
.button-tag-publish {
    position: relative;
    margin-top: 4px;
    background-color: #3b3b3c;
    margin-left: 10px;
}
.m-bottom-5 {
    margin-bottom: 5px !important;
}
.button-tag-publish > span {
    position: absolute;
    right: 5px;
    top: 4px;
}
label {
    color: #3b3b3c;
    font-weight: normal;
}
.modal-publish .row-img-profile p {
    color: #808080;
}
.modal-publish .upload-file {
    margin: 20px;
    border: solid 1px #95989A;
    padding: 40px 0 30px;
    color: #95989A;
}
.modal-publish span.icon-plus {
    font-size: 30px;
    position: relative;
    top: 5px;
}
.modal-publish .upload-file > ul {
    margin-bottom: 0;
}
.modal-publish .upload-file p.maxim-size {
    font-size: 10px;
    margin-top: 10px;
}
.modal-publish .upload-file .close {
    position: absolute;
    top: 26px;
    right: 45px;
}
.modal-publish .form-options {
    padding: 20px;
}
.modal-publish .form-options .button-upload {
    margin-top: 28px;
}
.modal-publish .form-options .title-extension {
    position: absolute;
    top: 32px;
    right: 30px;
    color: #95989A;
}
.modal-publish .form-options .money-crea {
    margin-top: 30px;
}
.modal-publish .form-options .table-license img {
    width: 21px;
}
.modal-publish .form-options .table-license thead p {
    font-size: 12px;
}
.modal-publish .form-options .table-license>tbody>tr>td, .table-license>tbody>tr>th, .table-license>tfoot>tr>td, .table-license>tfoot>tr>th, .table-license>thead>tr>td, .table-license>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid transparent;
    color: #808080;
    text-transform: none;
    font-size: 12px;
}
.modal-publish .form-options .table-license p.text-only {
    color: #FFD952;
}
.modal-publish .form-options .table-license p.text-no {
    color: #FF6C79;
}
.modal-publish .form-options .table-license p.text-yes {
    color: #26EC7B;
}
.modal-publish .form-options .table-license p {
    font-size: 12px;
}
.modal-publish .public-project > button {
    margin-bottom: 40px;
}
.modal-publish .public-project>h4 {
    margin: 40px;
}
.modal-publish .publish-title {
    margin: 20px 20px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #E8E8E8;
    border-radius: .25rem;
}
/* FIN MODAL PUBLISH */

/* NOTIFICATIONS */
.img-center {
    margin: 0 auto;
}
.row-list-notification {
    min-height: 0;
    margin: 0;
    padding: 0;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    border-bottom: 1px solid #ddd;
}
.row-list-notification > .row-list-notification-avatare {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 1 6 40px;
    flex: 1 6 40px;
    -webkit-order: 1;
    order: 1;
}
.row-list-notification > .row-list-notification-autor {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 3 1 65%;
    flex: 3 1 75%;
    -webkit-order: 2;
    order: 2;
}
.row-list-notification > .row-list-notification-options {
    margin: 4px;
    padding: 5px;
    -webkit-flex: 1 6 35%;
    flex: 1 6 25%;
    -webkit-order: 3;
    order: 3;
}
.change-text {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0;
}
.img-list-followers {
    margin-top: 4px;
}
.btn-following {
    width: 100%;
    margin-top: 13px;
    margin-bottom: 5px;
}
.btn-follow {
    width: 100%;
    margin-top: 13px;
    margin-bottom: 5px;
}
.border-notifications img {
    width: 46px;
    height: 46px;
    margin: 4px auto;
}
.dateNotifications {
    color: #959595;
    font-weight: 100;
    font-size: 12px;
    margin-left: 10px;
}
.border-notifications {
    border-bottom: 1px solid #dfdfdf;
}
.autor-notifications {
    margin-top: 4px;
    margin-bottom: -4px;
}
.button-autor-notifications {
    width: 100%;
    margin-top: 13px;
    margin-bottom: 5px;
}
.input-group {
    margin-bottom: 15px;
}



/* SLIDE */
.navbar-slide {
    min-height: 20px;
    margin-bottom: 0;
}
.rowProgress {
    margin-top: 10px;
}
.carousel-control {
    top: 0;
    width: 60%;
    color: #0073ff;
    opacity: 1;
    font-size: 40px;

}
.action-windows.slide {
    margin-top: 3px;
    margin-bottom: 0;
}

.slide-background-1 {
    z-index: 10;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.slide-1 {
    background-image: url("../img/background-slide-1.png");
}
.button-file-dat {
    margin: 0 auto;color: #95989A;
}
.slide-2 {
    background-image: url("../img/background-slide-2.png");
}
.slide-3 {
    background-image: url("../img/background-slide-3.png");
}
.slide-4 {
    background-image: url("../img/background-slide-4.png");
}
.slide-5 {
    background-image: url("../img/background-slide-5.png");
}
.slide-6 {
    background-image: url("../img/background-slide-6.png");
}
.slide-7 {
    background-image: url("../img/background-slide-7.png");
}
.slide-8 {
    background-image: url("../img/background-slide-8.png");
}
.slide-9 {
    background-image: url("../img/background-slide-9.png");
}
.carousel-control {
    color: #808080;
    text-shadow: 0 1px 2px rgba(0,0,0,0);
}
.carousel-control:focus, .carousel-control:hover {
    color: #0073ff !important;
}
.carousel-inner img {
    margin-top: 30px;
}
.carousel-inner h1 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 55px;
}
.carousel .item {
    height: 650px;
    background-color: #FAFAFA;
}
.carousel {
    height: 650px;
    margin-bottom: 0;
    top: 0;
    width: 100%;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.9) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.page-slide {
    padding-bottom: 0;
    background-color: #FAFAFA;
    padding-top: 0;

}
.description-file {
    color: #95989A;
    font-size: 14px;
    margin-bottom: 0;
}
.button-upload-slide-1 {
    margin-top: 4px;
}

.carousel-caption {
    top: 370px;
}
.carousel-description {
    text-shadow: 0 1px 2px transparent;
}
.carousel-description p:nth-child(1) {
    color: #3C3C3B;
    font-size: 26px;
}
.carousel-description .description-slide {
    color: #95989A;
    font-size: 14px;
    margin-bottom: 22px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #BCBCBC;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #bcbcbc;
    border-radius: 10px;
}
.step-4 .step-4-category > .col-md-3 > img {
    margin-top: 0;
    width: 50px;
    margin-bottom: 10px;
}
.step-4 .step-4-category > .col-md-3 p {
    color: #95989A;
    font-size: 12px;
}
p.step-4-address-wallet {
    font-size: 16px;
    color: #0569EF;
}
.progress {
    height: 20px;
    margin: 9px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
/* MODAL EXPIRE */
.modal-session-expired > .modal-dialog > .modal-content {
    padding: 30px;
}
.modal-session-expired .row-title > p {
    margin: 30px 0;color: #95989A
}
.modal-session-expired .row-button-modal-expire {
    margin: 10px 70px;
}

/* MODAL ABOUT */
.modal-about > .modal-dialog > .modal-content {
    padding: 30px;
}
.modal-about .row-title > p {
    margin: 30px 0;color: #95989A
}
.modal-about .row-button-modal-about {
    margin: 30px 0 0;
}
.modal-about .header-about > h3 {
    color: #3b3b3c;margin-bottom: 0;
}
.modal-about .header-about > p {
    color: #808080;font-size: 13px;
}
.modal-about .content-about > p {
    margin-bottom: 0;
    color: #3b3b3c;
    font-weight: 600;
    font-size: 13px;
}
.modal-about .content-about p span{
    margin-bottom: 0;
    color: #808080;
    font-size: 13px;
}
.modal-about .content-about p a {
    color: #0073ff;
}
@media (min-width: 768px){
    .modal-about > .modal-dialog {
        width: 630px;
        margin: 30px auto;
    }
}


/* MODAL ARTICLE */
.modal-article h5 {
    font-size: 12px;
    font-weight: bold;
}
.modal-article .descriptionModal {
    font-size: 12px;
    color: #808080;
}
.modal-article .img-circle-autor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 7px;
}
.img-circle-autor.avatare-1 {
    background: url("./../img/background-slide-1.png") center center;
    background-size: cover;
}








/* Tooltips publication list */
.tooltipStats th {
    text-transform: none !important;
    padding: 8px 8px 0 !important;
    border-bottom: 0 solid !important;
}
.tooltipStats td {
    font-size: 10px;
    border-top: 1px solid transparent !important;
}
.romboTooltip {
    width: 15px;
    height: 15px;
    border: 3px solid white;
    background: white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 16px;
    position: absolute;
    z-index: 9999;
    webkit-box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 18px -10px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 0px 0px rgb(208, 208, 208);
    top: -7px;
    left: 19px;
}
.rowAutor {
    margin-bottom: 0;
    cursor: pointer;
}
.widthAutor {
    width: 100%;
}
.widthAutor > .dropdown-toggle > .row {
    margin-bottom: -5px;
}
.widthAutor > .dropdown-menu {
    min-width: 240px;
}
.widthAutor > .dropdown-menu > li{
    width: 100%;
}
.tooltipButton {
    width: 100%;padding: 0 20px;font-size: 10px;margin-top: 0;
}
.widthAutor > .dropdown-menu img {
    margin: 10px auto 10px;
    width: 45px;
    height: 45px;
}
.titleTooltipUser {
    margin-bottom: 0;
}
.webTooltipUser {
    font-size: 10px;color: #808080;
}
.descriptionTooltipUser {
    font-size: 10px;color: #808080;
}
@media only screen and (max-width: 1000px) {
    .amount-navbar {
        display: none !important;
    }
    .modal-dialog {
        width: 700px;
        margin: 30px auto;
    }
    .box-comment img {
        margin: 10px 0;
    }
    .modal-publish .upload-file .close {
        position: absolute;
        top: 6px;
        right: 45px;
    }
    .logo-right-navbar {
        padding: 0 0;
    }
    .box-filter {
        background-color: #f9f9f9;
        height: 55px;
        padding-top: 25px;
        border-bottom: 1px solid #808080;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
    .view-box {
        margin-top: -5px;
    }
    .carousel-caption {
        right: 10%;
        left: 10%;
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 0px;
    }
}

progress::-webkit-progress-value {
    background-color: #0073ff;
}

@media (min-width: 800px) and (max-width: 991px) {
    .modal-article .box-comment {
        padding: 10px 30px;
        background-color: white;
        border: solid 1px #dfdfdf;
        border-radius: 5px;
        margin: 20px 10px;
    }
    .your-comment-title-post {
        margin:30px 30px 10px;
    }
    .box-comment img {
        margin: 0;
    }
    .box-level-owner > img {
        border-radius: 0 0 0 0 !important;
        margin-top: -5px;
        width: 21px;
        margin-left: 8px;
    }
    .modal-publish .form-options .button-upload {
        margin-top: 0;
    }
    #navbar > ul.search > li:nth-child(4) img {
        width: 10px;
        margin-top: 8px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .navbar-form {
        padding: 0;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 0 9px;
    }
    .circle-notification {
        right: 0;
    }
    .logo-navbar-responsive {
        margin-left: 8px;
        margin-right: 0px;
    }
}

.draggable {
    -webkit-app-region: drag
}

.undraggable  {
    -webkit-app-region: no-drag
}

@media (min-width: 992px) and (max-width: 1200px) {
    table.table-following-right .descriptionFollowing {
        font-size: 12px;
        color: #959595;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 35%;
    }
    table.table-following-right .titleFollowing {
        font-size: 14px;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50%;
    }
}

.img-circle-important {
    border-radius: 50% !important;
}
@media only screen and (min-width: 1001px) {
    .icon-total-wallet {
        display: none !important;
    }
    .box-level-owner > img {
        width: 21px;
    }
}
@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 0;
    }
}
@media (min-width: 1200px) {
    .box-level-owner > img {
        width: 21px;
    }
    table.table-following-right .descriptionFollowing {
        font-size: 12px;
        color: #959595;
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
        width: 35%;
    }
    table.table-following-right .titleFollowing {
        font-size: 14px;
        margin-bottom: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50%;
    }
}